<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>Family Finances</title>
        <link rel="stylesheet" href="/css/app.css">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans|Vollkorn+SC" rel="stylesheet">
    </head>
    <body class="good">
        <div class="stats">
            <h1></h1>

            <em>Last Refreshed {{.LastUpdated}}</em>
            <h1>You can spend<br>{{.Allowance}} this month</h1>

            <ul>
                <li>You have <strong>{{.UnplannedExpenses}}</strong> in expenses</li>
            
                <li>You have <strong>{{.RemainingPlanned}}</strong> remaining this month in planned expenses</li>                
                
                <li>You will pay <strong>{{.ProjectedBills}}</strong> this month in bills</li>
                            
                <li>You have <strong>{{.RemainingBills}}</strong> unpaid this month in bills</li>
            </ul>
        </div>
        <div class="sheet">
            <h3>Bills</h3>
            <table>
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Bills}}
                        <tr class="{{.Paid}}">
                            <td>{{.Day}}</td>
                            <td>{{.Description}}</td>
                            <td>{{.Amount}}</td>
                        </tr>
                    {{end}}
                </tbody>
            </table>    
        </div>
        <div class="sheet">
            <h3>Planned Expenses</h3>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .PlannedExpenses}}                    
                    <tr class="{{.PaidClass}}">
                        <td>&mdash;</td>
                        <td>{{.Description}}</td>
                        <td>{{.Amount.FormatToDollars}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>    
        </div>

        <div class="sheet">
        <h3>Categories</h3>
        
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {{range .Categories}}                    
                <tr>
                    <td>{{.Category}}</td>
                    <td>{{.Amount.FormatToDollars}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
        </div>
        <em>Disclaimer: The financial data presented is only based on finalized transactions. All pending transactions are ignored.</em>
    </body>
</html>